body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: 'circle';
  padding: 10px;
  text-decoration: none;
  list-style-position: inside;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.center {
  text-align: center;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.user {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.heart-button {
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  margin: 10px;
}
